.top-right-container {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-menu button {
  margin-right: 8px;
}

.top-menu button:last-child {
  margin-right: 0;
}



.title-center {
  text-align: center;
}

@media (max-width: 700px) {
  .top-right-container {
    position: relative;
    top: auto;
    right: auto;
    width: 100%;
    justify-content: center;
    margin-top: 10px;
  }

  .top-menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
  }
}
