<div>
  <h2 class="title-center">United</h2>
  <div class="top-right-container">
    <button mat-mini-fab *ngIf="isLoggedIn" (click)="showMobileMenu = !showMobileMenu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <div class="top-menu" *ngIf="isLoggedIn">
      <button mat-button (click)="navigateTo('/home')">
        <span class="material-icons">home</span>
      </button>
      <button mat-button (click)="navigateTo('/games')">
        <span class="material-icons">sports_esports</span>
      </button>
      <button mat-button (click)="navigateTo('/account')">
        <span class="material-icons">person</span>
      </button>
      <button mat-button (click)="logout()">
        <span class="material-icons">logout</span>
      </button>
    </div>

    <div class="mobile-menu" *ngIf="showMobileMenu && isLoggedIn">
      <button mat-button (click)="navigateTo('/home'); showMobileMenu = false">
        Home
      </button>
      <button mat-button (click)="navigateTo('/games'); showMobileMenu = false">
        Games
      </button>
      <button mat-button (click)="navigateTo('/account'); showMobileMenu = false">
        Account
      </button>
      <button mat-button (click)="logout(); showMobileMenu = false">
        Logout
      </button>
    </div>
  </div>
  <router-outlet></router-outlet> <!-- Always render router outlet -->
</div>