.swipe-container {
  touch-action: pan-y; /* Allow vertical scroll, capture horizontal swipe */
  display: block; /* Ensure it's a block element */
}


/* Styles for GamesComponent */
.account-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
}

.save-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

@media (min-width: 600px) {
  .center-content {
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
  }
}