/* Styles for GamesComponent */
.account-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.save-button-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}


@media (min-width: 600px) {
  .center-content {
    margin: 0 auto;
    max-width: 80%;
    width: 100%;
  }
}