.title {
  font-weight: 500;
}

.panelHeroes { 
  background-color: lightblue;
}

.panelAntiHeroes {
  background-color: plum;
}

.panelVillains {
  background-color: pink;
}

.panelLocations { 
  background-color: lightgray;
}

.panelPets { 
  background-color: goldenrod;
}