<div class="center-content">
  <mat-card>
    <mat-card-title>Create a game</mat-card-title>
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Number of Players</mat-label>
        <mat-select matNativeControl [(ngModel)]="playerCount">
          <mat-option *ngFor="let num of [1,2,3,4]" [value]="num">{{ num }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-checkbox [(ngModel)]="includePets" (change)="onIncludePetsChange($event)">Include Pets</mat-checkbox>
      <div class="results"
        *ngIf="selectedHeroes.length > 0 || selectedVillain.length > 0 || selectedLocations.length > 0">
        <h4>Selected Hero{{ playerCount === 1 ? '' : 'es' }}</h4>
        <div class="hero-cards">
          @for (hero of selectedHeroes; track $index) {
          <mat-card class="{{hero.type}}-card">
            <mat-card-title>
              {{ hero.name }}
            </mat-card-title>
            <mat-card-footer class="game-name">
              {{ hero.game }}
            </mat-card-footer>
          </mat-card>
          }
        </div>

        <h4>Selected Pet{{ playerCount === 1 ? '' : 's' }}</h4>
        <div class="pet-cards">
          @for (pet of selectedPets; track $index) {
          <mat-card class="{{pet.type}}-card">
            <mat-card-title>
              {{ pet.name }}
            </mat-card-title>
            <mat-card-footer class="game-name">
              {{ pet.game }}
            </mat-card-footer>
          </mat-card>
          }
        </div>

        <h4>Selected Villain</h4>
        <div class="villain-cards">
          @for (villain of selectedVillain; track $index) {
          <mat-card class="{{villain.type}}-card">
            <mat-card-title>
              {{ villain.name }}
            </mat-card-title>
            <mat-card-footer class="game-name">
              {{ villain.game }}
            </mat-card-footer>
          </mat-card>
          }
        </div>


        <h4>Selected Locations</h4>
        <div class="location-cards">
          @for (location of selectedLocations; track $index) {
          <mat-card class="location-card">
            <mat-card-title>
              {{ location.name }}
            </mat-card-title>
            <mat-card-footer class="game-name">
              {{ location.game }}
            </mat-card-footer>
          </mat-card>
          }
        </div>

      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button (click)="randomize()">Randomize</button>
    </mat-card-actions>
  </mat-card>
