.title {
  font-weight: 500;
}


//Panel colors
.panelHeroes {
  background-color: lightblue;
}

.panelDualModes {
  background-color: plum;
}

.panelVillains {
  background-color: pink;
}

.panelLocations {
  background-color: lightgray;
}

.panelPets {
  background-color: #ffc379;
}

.panelSupports {
  background-color: gray;
}

.warning {
  color: red;
  text-align: center;
  display: block;
  margin: 10px auto;
}