.title {
    font-weight: 500;
  }
  
  
  //Panel colors
  .panelHeroes {
    background-color: lightblue;
  }
  
  .panelVillains {
    background-color: pink;
  }
  
  .panelLocations {
    background-color: lightgray;
  }